@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
img,h,article,p,img{
  user-select: none;
  pointer-events: none;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
div>*{
  animation-name: scroller;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-animation-play-state: running;

}
@keyframes scroller{
  from{
    opacity:.4;
    transform: translateY('50px') scale(.2);
  }
  to{
    opacity:1;
    transform: translateY(0) scale(1);
  }
}